body { 
    background: url("/assets/img/Background-tela-login.jpg"); 
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #b68200;
}

.btn-exibe-senha {
    background-color: #ec8526;
    box-shadow: none;
}

