.alinhado-meio {
    height: 500px;
    width: 500px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 1px 1px 5px rgb(185, 185, 185);
}

.logo-login {
    height: 20%;
}

body {
    background-image: url("/assets/img/Background-tela-login.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}