// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$EstacionaFacil-primary: mat.define-palette(mat.$orange-palette);
$EstacionaFacil-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$EstacionaFacil-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$EstacionaFacil-theme: mat.define-light-theme((
  color: (
    primary: $EstacionaFacil-primary,
    accent: $EstacionaFacil-accent,
    warn: $EstacionaFacil-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($EstacionaFacil-theme);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

.mensagem-erro-formulario {
    color: red;
}

.text-primary {
    color: #ec8526 !important;
}

.btn-primary {
    background-color:#ec8526 !important;
    border: 2px solid #ec8526 !important;
    font-size: larger;
}

.btn-primary:hover {
    background-color:#cf6400 !important;
    border: 2px solid #cf6400 !important;
    font-size: larger;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

