.mensagem-erro-formulario {
    color: red;
}

.text-primary {
    color: #ec8526 !important;
}

.btn-primary {
    background-color:#ec8526 !important;
    border: 2px solid #ec8526 !important;
    font-size: larger;
}