<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estaciona fácil</title>
</head>

<body>
    <main class="container h-100 d-flex align-items-center justify-content-center">
        <section class="bg-white rounded col-lg-6 col-md-8 col-sm-10 col-12">
            <header class="d-flex justify-content-center logo-login">
                <img src="/assets/img/Logo-estaciona-facil.jpeg" class="mt-2 w-50" alt="Logo do site">
            </header>
            
            <form (click)="submitLogin()" [formGroup]="loginForm" #formDir="ngForm" class="mt-3 w-75 mx-auto">
                <div>
                    <label class="form-label me-3">E-mail de registro</label>
                    <input type="email" [class]="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || formDir.submitted) ? 'form-control is-invalid' : 'form-control'" formControlName="email">
                    <p *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || formDir.submitted)" class="mensagem-erro-formulario">E-mail é obrigatório</p>
                </div>
                <div class="my-3">
                    <label class="form-label me-3">Senha</label>
                    <input type="password" [class]="loginForm.get('senha')?.errors && (loginForm.get('senha')?.touched || formDir.submitted) ? 'form-control is-invalid' : 'form-control'" formControlName="senha">
                    <p *ngIf="loginForm.get('senha')?.errors && (loginForm.get('senha')?.touched || formDir.submitted)" class="mensagem-erro-formulario">Senha é obrigatória</p>
                </div>
                <div class="mb-3">
                    <label class="form-label me-3">Confirme sua senha</label>
                    <input type="password" [class]="loginForm.get('confirmarSenha')?.errors && (loginForm.get('confirmarSenha')?.touched || formDir.submitted) ? 'form-control is-invalid' : 'form-control'" formControlName="confirmarSenha">
                    <p *ngIf="loginForm.get('confirmarSenha')?.errors?.required && (loginForm.get('confirmarSenha')?.touched || formDir.submitted)" class="mensagem-erro-formulario">Confirmar senha é obrigatório</p>
                    <p *ngIf="(loginForm.get('confirmarSenha')?.errors?.camposSaoDiferentes && loginForm.get('senha')?.errors?.camposSaoDiferentes) && (loginForm.get('confirmarSenha')?.touched || formDir.submitted)" class="mensagem-erro-formulario">As senhas não são iguais</p>
                </div>
            </form>

            <footer class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-50 mb-3">Entrar</button>
            </footer>

        </section>
    </main>

</body>

</html>