.alinhado-meio {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.alinhado-meio2 {
    width: 800px;
    height: 340px;
    position: absolute;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}